.App {
  text-align: center;
}

.App-header {
  background-color: rgb(56, 77, 104);
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

#EnterDiv {
  border-style: solid;
  border-color: gray;
  background-color: rgb(247, 237, 237);
  border-width: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

#CurrentDiv {
  border-style: solid;
  border-color: gray;
  background-color:  rgb(247, 237, 237);
  border-width: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px;
  color: rgb(56, 77, 104);
}

#historyList {
  font-size: 24px;
}

#HistoryDiv {
  border-style: solid;
  border-color: gray;
  background-color:  rgb(247, 237, 237);
  border-width: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(56, 77, 104);
}


